{{ define "main" }}

<!-- default imagename -->
{{ $basename := .File.TranslationBaseName }}
{{ $filename := print site.Params.PackageImageFolder $basename ".jpg"}}

{{ $scratch := newScratch }}
{{ $scratch.Set "img" (print site.Params.PackageImageFolder "default.jpg") }}

{{if fileExists (print "static/" $filename) }}
  {{ $scratch.Set "img" $filename}}
{{ end }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img style="height: 500px;width: 100%;object-fit: cover;" src="{{ $scratch.Get `img` | relURL }}"
          class="img-fluid w-100">
      </div>
    </div>
    <!-- info -->
    <div class="row align-items-center mb-5">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2>{{ .Title }}</h2>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="fas fa-calendar-alt text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">{{ i18n "duration" | upper }}</h6>
                <p class="mb-0">{{ .Params.Duration }}</p>
              </div>
            </div>
          </li>
          {{ range first 2 .Params.Prices }}
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="fas fa-money-bill-wave text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">{{ .country | upper }}</h6>
                <p class="mb-0">{{ print .name " " .price }}</p>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="{{ `contact` | relLangURL }}" class="btn btn-primary">{{ i18n "contact_us" }}</a>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- details -->
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- cta -->
{{ if site.Params.Enable_cta }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /cta -->

{{ end }}