<div>
    <h4 id="আমর-কভব-কজ-কর">আমরা কীভাবে কাজ করি?</h4>
    <ul>
        <li>নিজেদের মধ্যে যোগাযোগের জন্য কোন মুদ্রণ উপকরণ ব্যবহার করা হয় না। সব যোগাযোগ ডিজিটাল ফর্মে হয়।</li>
        <li>আমাদের অফিসে কোন মুদ্রিত ডকুমেন্ট রাখা হয় না। (আইনি প্রয়োজন ছাড়া)। সব কাজ পেপারলেস হয়।</li>
        <li>সমস্ত অ্যাকাউন্ট এবং নথি ডিজিটাল ফর্মে রক্ষণাবেক্ষণ করা হয়।</li>
        <li>কোন অফিস সময়সূচী নেই, আপনার সুবিধামতো কাজ করুন, কাজ হলেই হলো।</li>
        <li>কোর টিম শুধু সাপ্তাহিক ছুটির দিনে মিলিত হয়। বাকীরা মাঝে মধ্যে সময় সুযোগ মতো।</li>
        <li>সদস্যদের সব কার্যক্রম ডিজিটাল সিস্টেমে রিমোট অফিস থেকে তত্ত্বাবধান করা হয়।</li>
    </ul>
    <h4 id="সদসযদর-জনয-পরযজনযত">সদস্যদের জন্য প্রয়োজনীয়তা</h4>
    <ul>
        <li>সদস্যদের একটি ব্যক্তিগত জিমেইল অ্যাকাউন্ট থাকতে হবে। (যদি না থাকে তবে তৈরি করে নিন। অনুগ্রহ করে আপনার অফিসের
            ইমেল ব্যবহার করবেন না।)</li>
        <li>সদস্যদের স্মার্ট ফোন থাকতে হবে, অ্যান্ড্রয়েড বা আইওএস থাকতে হবে।</li>
        <li>সদস্যদের নিজদের মধ্যে যোগাযোগ করতে হবে <strong><a href="https://telegram.org/">Telegram</a></strong> অ্যাপের
            মাধ্যমে। সদস্যদের তাদের মোবাইল ডিভাইসে Telegram ইনস্টল করে নিতে হবে (<strong><a
                    href="https://telegram.org/android">Play Store</a></strong> বা <strong><a
                    href="https://telegram.org/dl/ios">App Store</a></strong> তে “Telegram” সার্চ করুন)।</li>
        <li>সদস্যদের Telegram এ <strong><a href="https://t.me/{{ site.Params.TelegramId }}">@{{ site.Params.TelegramId }}</a></strong> চ্যানেলটি
            সাবসক্রাইব করে নিতে হবে।</li>
        <li>নতুন সদস্যদের প্রথম কাজ হল, ঐ চ্যানেলের <a href="{{ site.Params.TelegramPostUrl }}">নতুন সদস্যপদ পোস্টের</a> নিচে
            কমেন্ট করে জানান দেওয়া, তারা কোন ইউনিটের সদস্যপদের জন্য আগ্রহী। লিখুন - নাম, দেশ/ রাজ্য/ জেলা/ উপজেলা/ লোকালিটি। এখানে
            কমেন্ট করার পরই পরবর্তী পদক্ষেপ নেওয়া হবে।</li>
        <li>এরপর আমরা প্রয়োজনীয় পদক্ষেপ নিয়ে আপনাকে সদস্য করে নেবো।</li>
        <li>সমস্ত কাজ সংক্রান্ত যোগাযোগ শুধুমাত্র Telegram এ সম্পন্ন করতে হবে! এজন্য ইমেইল, হোয়াটসঅ্যাপ বা ফোন কল করা
            যাবে না।</li>
    </ul>
</div>