<article>
<div class="mb-5">
  <div class="card p-0 border-primary rounded-0 hover-shadow">
    <div class="card-body">
      <h4 class="card-title"><a href="{{ .Permalink  }}">{{ .Title }}</a></h4>

      <ul class="list-inline">
        {{ with .Date }}
        <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "date" }}
            :</span>{{ .Day }} {{ i18n .Month }}, {{ .Year }}</li>
        {{ end }}
        <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">{{ i18n "words" }}
            :</span>{{ .FuzzyWordCount }}</li>
      </ul>
      
      <p class="card-text mb-4">
        {{ with .Params.Description }}
        {{ . | markdownify }}
        {{ else }}
        {{ .Summary }}
        {{ end }} 
      </p>
      <a href="{{ .Permalink  }}" class="btn btn-primary btn-sm">{{ i18n "read_more"}}</a>
    </div>
  </div>
</div>
</article>