{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- hero slider -->
{{ if site.Params.Enable_slider }}
<section class="hero-section overlay bg-cover" data-background="{{ site.Params.Top_bg | absURL }}">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      {{ range $data.services }}
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3"
              data-animation-in="fadeInLeft" data-delay-in=".1">{{ .title | markdownify }}</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">{{ .intro | markdownify }}</p>
            <a href="#{{ .section_id  }}" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">{{ i18n "read_more" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /hero slider -->

<!-- banner-feature -->
{{ if $data.about.enable }}
{{ with $data.about }}
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          {{ range first 2 .items }}
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-feature -->

<!-- projects -->
{{ if site.Params.Enable_projects }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ i18n "projects" }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `project` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- project list -->
    <div class="row justify-content-center">
      <!-- project item -->
      {{ range sort (where site.RegularPages "Type" "project") "Weight" "desc" | first 2 }}
      <div class="col-md-6 mb-5">
        {{ .Render "project" }}
      </div>
      {{ end }}
    </div>
    <!-- /project list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `project` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /projects -->

<!-- package -->
{{ if site.Params.Enable_package }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ i18n "packages" }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `package` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!--  list -->
    <div class="row justify-content-center">
      <!--  item -->
      {{ range sort (where site.RegularPages "Type" "package") "Weight" "desc" | first 3 }}
      <div class="col-md-4 mb-5">
        {{ .Render "package" }}
      </div>
      {{ end }}
    </div>
    <!-- / list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `package` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /package -->

<!-- Services -->

<!-- Service header -->
{{ range $data.services }}

<!-- default imagename -->
{{ $filename := print site.Params.ServiceImageFolder  .section_id ".jpg" }}

{{ $scratch := newScratch }}
{{ $scratch.Set "img" (print site.Params.ServiceImageFolder  "default.jpg") }}

{{if fileExists (print "static/" $filename) }}
  {{ $scratch.Set "img" $filename}}
{{ end }}

<section id="{{ .section_id }}" class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .intro | markdownify }}</p>
        <p>{{ .description | markdownify }}</p>
        <!-- <a href="{{ .link }}" class="btn btn-outline-primary">{{ i18n "visit_service_website" }}</a> -->
      </div>   
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{{ $scratch.Get `img` | absURL }}" alt="service image">
      </div>
    </div>
  </div>
</section>
<!-- /service header -->
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-12 col-lg-12">
        <div class="row feature-blocks bg-gray justify-content-between">
          {{ range .items }}
          <div class="col-sm-6 col-xl-4 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /services -->

<!-- funfacts -->
{{ if site.Params.Enable_funfacts }}
{{ partial "funfacts.html" . }}
{{ end }}
<!-- /funfacts -->

<!-- success story -->
{{ if site.Params.Enable_highlights }}
{{ partial "highlights.html" . }}
{{ end }}
<!-- /success story -->

<!-- cta -->
{{ if site.Params.Enable_cta }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /cta -->

<!-- events -->
{{ if site.Params.Enable_events }}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ i18n "events" }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      {{ range sort (where site.RegularPages "Type" "event") ".Date" "desc" | first 3 }}
      {{if gt .Date.Unix now.Unix }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "event" }}
      </div>
      {{ end }}
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /events -->

{{ if site.Params.Enable_blogs }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ i18n "latest_article" }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `blog` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- blog list -->
    <div class="row justify-content-center">
      <!-- blog post -->
      {{ range sort (where site.RegularPages "Type" "post") "Weight" "desc"  "Date" "desc" | first 6 }}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "post" }}
      </article>
      {{ end }}
    </div>
    <!-- /blog list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `blog` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

{{ end }}